@model P_Market.Models.Client

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdentifitationType.IdentifitationTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdentifitationType.IdentifitationTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientIdentificationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientIdentificationId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ClientKey }) |
    @Html.ActionLink("Back to List", "Index")
</p>
