@model IEnumerable<P_Market.Models.Supplier>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdentifitationType.IdentifitationTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SupplierName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SupplierPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SupplierIdentificationId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdentifitationType.IdentifitationTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SupplierName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SupplierPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SupplierIdentificationId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SupplierKey }) |
            @Html.ActionLink("Details", "Details", new { id=item.SupplierKey }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SupplierKey })
        </td>
    </tr>
}

</table>
