@model P_Market.Models.ViewModels.SaleViewModel

@{
    ViewBag.Title = "Nueva Venta";
}

<h2>@ViewBag.Title</h2>
<hr />

<!-- INICIO DE FORMULARIO -->
@using (Html.BeginForm("Create", "Sales", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @* INICIO DE ELEMENTOS DE CLIENTE *@
        <div class="panel panel-default">
            <div class="panel-heading">
                Cliente
            </div>
            <div class="panel-body">
                <div class="col-xs-2">
                    @Html.EditorFor(model => model.ClientKey, new
                    {
                        htmlAttributes = new { @class = "form-control", placeholder = "Id" }
                    })
                    @Html.ValidationMessageFor(model => model.ClientKey, "", new { @class = "text-danger" })
                </div>
                <div class="col-xs-5">
                    @Html.EditorFor(model => model.ClientName, new
                    {
                        htmlAttributes = new { @class = "form-control", @readonly = "readonly", placeholder = "Nombre" }
                    })

                </div>
            </div>
        </div>
        @* FIN DE ELEMENTOS DE CLIENTE *@
        @* INICIO DE ELEMENTOS DEL PRODUCTO *@
        <div class="panel panel-default">
            <div class="panel-heading">
                Producto
            </div>
            <div class="panel-body">

                <div class="col-xs-2">
                    <input type="number" class="form-control" name="ProductId" id="ProductId" value="" placeholder="Id" />
                </div>

                <div class="col-xs-3">
                    <input type="text" class="form-control" name="ProductName" id="ProductName" value="" placeholder="Nombre" />
                </div>

                <div class="col-xs-2">
                    <input type="text" class="form-control" name="ProductPrice" id="ProductPrice" value="" placeholder="Precio" />
                </div>

                <div class="col-xs-2">
                    <input type="text" class="form-control" name="ProductQuantity" id="ProductQuantity" value="" placeholder="Cantidad" />
                </div>

                <div class="col-xs-2">
                    <input type="button" class="btn btn-default" onclick="AddProduct(); return false;" value="Agregar" />
                </div>

            </div>
        </div>
        @* FIN DE ELEMENTOS DEL PRODUCTO *@

        @* INICIO DE TABLA DE PRODUCTOS DE LA VENTA *@
    <div id="SaleDetails">
        <table id="table" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Producto</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Total</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2</td>
                    <td>Laptop DELL XPS</td>
                    <td>18000</td>
                    <td>1</td>
                    <td>18000</td>
                    <td></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Rollo de cable Azul Belden</td>
                    <td>6500</td>
                    <td>2</td>
                    <td>13000</td>
                    <td></td>
                </tr>
            </tbody>
        </table>

        @* INICIO DE ELEMENTO HIDDEN *@

        <input type="hidden" name="SaleDetails.Index" id="SaleDetails.Index" value="0" />
        <input type="hidden" name="SaleDetails[0].ProductId" id="SaleDetails[0].ProductId" value="2" />
        <input type="hidden" name="SaleDetails[0].ProductName" id="SaleDetails[0].ProductName" value="Laptop DELL XPS" />
        <input type="hidden" name="SaleDetails[0].ProductPrice" id="SaleDetails[0].ProductPrice" value="18000" />
        <input type="hidden" name="SaleDetails[0].ProductQuantity" id="SaleDetails[0].ProductQuantity" value="1" />

        <input type="hidden" name="SaleDetails.Index" id="SaleDetails.Index" value="1" />
        <input type="hidden" name="SaleDetails[1].ProductId" id="SaleDetails[1].ProductId" value="3" />
        <input type="hidden" name="SaleDetails[1].ProductName" id="SaleDetails[1].ProductName" value="Rollo de cable Azul Belden" />
        <input type="hidden" name="SaleDetails[1].ProductPrice" id="SaleDetails[1].ProductPrice" value="6500" />
        <input type="hidden" name="SaleDetails[1].ProductQuantity" id="SaleDetails[1].ProductQuantity" value="2" />

        @* FIN DE ELEMENTO HIDDEN *@

    </div>
        @* FIN DE TABLA DE PRODUCTOS DE LA VENTA *@

        <div class="form-group">
            <div class="col-xs-6">
                <input type="submit" value="Guardar" class="btn btn-warning" />
                <a href="index" class="btn btn-default">Regresar</a>
            </div>
        </div>

    </div>

}





@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}